.embla {
  --slide-height: 80vh;
  --slide-spacing: 0;
  --slide-size: 100%;
  position: relative;
  width: 100%;
}

.embla__container {
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  display: flex;
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
  height: var(--slide-height);
}

.embla__slide__content {
  width: 100%;
  height: 100%;
  position: relative;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.embla__dot {
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  transition: opacity 0.2s ease-in-out;
}

.embla__dot:hover {
  opacity: 0.7;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
  transition: all 0.2s ease-in-out;
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem #E2AC36;
  background-color: #E2AC36;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .embla {
    --slide-height: 60vh;
  }
}

